#i1{grid-area: i11;}
#i2{grid-area: i22;}
#i3{grid-area: i33;}
#i4{grid-area: i44;}
body {
    background-image: url("https://www.vhv.rs/dpng/d/536-5368613_happy-independence-day-2018-clipart-png-download-15.png");
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnuGh-hWdobBavXunSL5gHKU9dbv1EpXPhXA&usqp=CAU"); */
    /* background-color: blueviolet; */
    /* background-image: linear-gradient(230deg blue white black); */
    background-size: cover;
    animation: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
header {
    font-size: 40px;
    text-shadow: 2px 2px 2px  rgb(179, 118, 118);
    text-transform: capitalize;
    text-decoration: solid;
    text-decoration-line: underline;
    text-align: center;
    background-image: linear-gradient(120deg, rgb(4, 0, 255), white, rgb(0, 0, 0));
    border-style: groove;
    border-color: rgb(146, 72, 153);
    border-radius: 2px;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 20px;
    text-align: center;
    text-decoration: solid;
    font-size: large;
    background-color: rgb(240, 219, 134);
    color: rgb(62, 11, 149);
}
.a{
    display: grid;
    grid-area: auto;
    grid-template-areas: 'i11 i22 i22 i22 i22 i22 i22' ;
    background-color: rgb(75, 58, 227);
    /* background-image: url("https://e0.pxfuel.com/wallpapers/377/443/desktop-wallpaper-for-laptop-full-screen-15-full-screen.jpg"); */
    background-size: cover;
    background-position-y: center;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 3px black;
    color: white;
}
.c{
    display: grid;
    grid-template-areas: 'i44 i44 i44 i44 i44 i33' ;
    background-color:rgb(72, 58, 227);
    /* background-image: url("https://e0.pxfuel.com/wallpapers/377/443/desktop-wallpaper-for-laptop-full-screen-15-full-screen.jpg"); */
    background-size: cover;
    background-position-y: center;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 3px black;
    color: white;

}
#i1,#i3{
    padding: 10px;
}

#i2,#i4{
    border-radius: 3px;
    border-color: blueviolet;
}
.b{
    width: 200px;
    height: 200px;
    border-color: black;
    border-radius: 2px;
    box-shadow: 2px 2px 1px 3px black;
    /* background-size: cover; */
    
}

/* #d{
    margin-top: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: rgb(17, 17, 17);
    background-image: linear-gradient(120deg,rgb(0, 0, 0),white,rgb(9, 0, 128));
    width: 100%;
    height: 60px;
    text-align: center;
}
 */
#h{
    color: white;
}
#h:hover{
    color: red;
}

@keyframes anim{
   10% { background-color: blue;}
   20% {background-color: rgb(118, 173, 24);}
     30% {background-color: black;}
}
